.btn-more {
   width: max-content;
   padding: 10px 15px;
   background-color: $green;
   border-radius: 10px;
   display: flex;
   align-items: center;
   gap: 10px;

   cursor: pointer;

   & > span {
      font-size: 20px;
      line-height: 150%;
      color: #fff;
   }
}
